/* Стили для карточки товара */


.product-list {
  display: flex;
  padding: 20px;
  flex-wrap: wrap; 
  gap: 20px; /* Расстояние между карточками */
  justify-content: center; /* Центрирование карточек по горизонтали */
}



.product-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 270px; 
 
  text-align: center;
  position: relative;
  transition: transform 0.2s;
  margin: 16px;
}

  .product-card:hover {
    transform: scale(1.05); 
  }
  
  .product-image {
    max-width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 50px;
  }
  

  .product-name {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-left: -45px;
    margin-right:100px;
    color: #302f2f;
  
  font-style: normal;
   margin-bottom:-20px;

  }
  
  .product-price {
    color: #ffa600;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    margin-left: 200px;
    margin-bottom: 10px ;

  }
  .star-rate {
   display: flex; 
    align-items: center; 
    gap: 10px; 
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #838383;
  }
  .product-rate.span {
    margin: 3px ;
    font-size: 18px; 
    padding-bottom: 20px;
   
    
    
  }

 .btn-fav{
  max-width: 20px;
  margin-top: -5px;
  
 }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px; 
  }
 
  .buy-button {
   font-weight: bold;
    color: rgb(19, 18, 18);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .buy-button:hover {
    background-color: #cacadf;
    transform: scale(1.05);
  }
  
  .favorite-button {
    background: none;
    border: none;
    color: rgb(243, 171, 37);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .favorite-button:hover {
    color: rgb(255, 102, 0);
    transform: scale(1.05);
  }
  
 .sale{
  font-size: 12px;
  font-weight: lighter;
  margin-right: 10px;
  margin-top :3px;
  z-index: 0;
  color:  #e4bb6fe5;
  text-decoration: line-through;
  margin-bottom: -3px;
} 

.product-info{
  margin-top: -20px;
}


.details-button {
  background-color: #FFCE7F;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #ffae4a;
}

.product-details-info {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}