.payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .payment-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    animation: slideDown 0.3s ease-in-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
  }
  
  .close-button:hover {
    color: #333;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    
    background-color: hsl(0, 33%, 94%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
  transition: transform 0.2s;
  }
  .cart-item:hover {
    transform: scale(1.05); 
  }
  .cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-name,
  .cart-item-price,
  .cart-item-quantity {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .cart-item-quantity {
    color: #838383;
    font-size: 12px;
  }
  .cart-item-price{
    color: #ffa600;
  font-weight: bold;
 
  }
  .cart-item-name{
    margin-top: 10px;
    color: #111311;
  }

  .payment-summary {
    margin-top: 20px;
    font-weight: bold;
  }

  
  .payment-form input {
    display: block;
    width: 375px;
    padding: 10px;
   
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pay-button {
    width: 100%;
    padding: 10px;
    background-color: #111311;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pay-button:hover {
    background-color: #292c29;
  }


  .actions-pay{
    display: flex; 
    align-items: center;
    gap: 5px; 
    border: none;
    margin-top: 5px; 
    justify-content: flex-start;
   font-size: 12px;
    font-weight:bolder;
  }
  .btn-pl-min{
    background-color: #FFCE7F;
    color: rgb(252, 248, 248);
    border: none;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    font-weight: bold;
    margin: 0 5px;
  }


  .btn-pl-min:hover {
    background-color: #cacadf;
  }

  .del-btn-pay{
    border: none;
   
    margin-top: -75px;
    margin-right: -2px;
    padding: 6px 10px;
   
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .del-btn-pay :hover {
  
    transform: scale(1.05);
  }
  @keyframes fadeIn {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.5); }
  }
  
  @keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  